<% include ./partials/_head %>

<body>
    <h1>Express routing !</h1>
    <form action="/posts?_method=DELETE" method="POST">
        <button type="submit">Click me !</button>
    </form>
</body>
</html>